<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Compileit</title>
</head>
<body style="background-color: rgb(28, 28, 30)">

    <h1 style="color:white; font-family: Arial" >Create account</h1>

    <div>

        <!-- action parametern i form elementet gör att vi kan skicka tillbaka datan i vår form till funktionen i urls.py i login mappen -->
        <form style="color:white; font-family: Arial" action="{% url 'login:index' %}" method="post">
            {% csrf_token %} 
            {{ form|linebreaks }}
            <input type="Submit" value = "Create account">

            <!-- <input type="text"> -->
        </form>

        <br>
        <a href="{% url 'main_menu:index' %}"> <input input type="Submit" value="Home"> </a>

    </div>

    
</body>
</html>