<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login failed</title>
</head>
<body style="background-color: rgb(28, 28, 30)">

    <h1 style="color:white; font-family: Arial">Signup failed!</h1>
    <a>Username already exists. Choose something else, please.</a>
    <br>
    <br>
    <br>
    <a href="{% url 'login:index' %}"> <input input type="Submit" value="Try again"> </a>
    <br>
    <br>
    <a href="{% url 'main_menu:index' %}"> <input input type="Submit" value="Home"> </a>
    
</body>
</html>