<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search accounts</title>
</head>

<body style="background-color: rgb(28, 28, 30)">

    <h1 style="color:white; font-family: Arial">Search users by their email</h1>
    
    <br>

    <form style="color:white; font-family: Arial" action="{% url 'search:index' %}" method="post">
        {% csrf_token %}

        {{ form }}
        <input type="Submit">

    </form>

    <br>
    <a href="{% url 'main_menu:index' %}"> <input input type="Submit" value="Home"> </a>

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <hr>
    <h2 style="color:white; font-family: Arial">Description</h2>
    <h3 style="color:white; font-family: Arial">- The searched keyword found in any user will be displayed. </h3>
    <h3 style="color:white; font-family: Arial">- (e.g. 'te' will give eric.portela@gmail.com and telia@telia.se, given these are registered in database)</h3> 


</body>
</html>